/* RESET */
*{
    margin: 0;
    padding: 0;
}

header{
    background: radial-gradient(#f2e8cf, #ddbea9);
    width: 100%;
    border-bottom: solid 0.1rem #3d3b3c;
}


.logo{
    height: 7rem;
    width: auto;
    display: block;
    margin: auto;
    padding: 0.5rem;
}

.navCel ul li{
    background: radial-gradient(#f2e8cf, #ddbea9);
    opacity: 90%;
    padding: 1rem;
}

.menuNav{
    display: none;
}

.mainIndex{
    display: grid;
    grid-template-areas: "parrUno"
                         "primerImagen"
                         "parrDos"
                         "segundaImagen";
}

.parrUno{
    grid-area: parrUno;
    text-align: center;
    margin: 1rem;
}

.primerImagen{
    grid-area: primerImagen;
    height: auto;
    width: 80%;
    display: block;
    margin: auto;
    box-shadow: -2px 2px 10px #a5a5a5;
}

.parrDos{
    grid-area: parrDos;
    text-align: center;
    margin: 1rem;
}

.segundaImagen{
    grid-area: segundaImagen;
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    box-shadow: -2px 2px 10px #a5a5a5;
}

.extraText{
    display: none;
}

footer{
    background: radial-gradient(#f2e8cf, #ddbea9);
    height: 3rem;
    margin-top: 0.5rem;
}

.derechos{
    text-align: center;
    font-size: 0.9em;
}

/* GALERIA */

.mainGaleria{
    height: 68vh;
    margin: 2%;
}

.mainGaleria div img{
    display: block;
    height: 70vh;
    margin: auto;
    box-shadow: -2px 2px 10px #a5a5a5;
}

/* Social Media */

.socialMedia{
    background-color: #f2e8cf;
}

div a img{
    height: 0.5rem;
    width: auto;
}


/* CONTACTO */

.mainContacto{
    background-image: url('../img/DSC_0621.JPG');
    background-repeat: repeat-y;
    background-size: 100%;
    display: grid;
    grid-template-areas: "contactForm"
                         "mapa";
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.contactForm{
    grid-area: contactForm;
    display: block;
    margin: auto;
    width: 27rem;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -2px 2px 10px #a5a5a5;
    border: solid #3d3b3c;
}

.contactanos{
    display: block;
    font-size: 1.5rem;
    padding: 1rem;
    text-align: center;
    color: #540b0e;
    opacity: 100%;
}

.mainContacto input{
    border: 0.1rem solid #3d3b3c;
    height: 1.6rem;
    width: 25rem;
    padding: 0.6rem;
    margin: 0.6rem;
}

.mainContacto .texto input {
    height: 4.5rem;
    margin-top: 0%;
    margin-top: 0.3rem;
}

.mapa{
    grid-area: mapa;
    width: 27rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    box-shadow: -2px 2px 10px #a5a5a5;
}

.footerContacto{
    margin: 0%;
}


/* SOBRE NOSOTROS */


.mainSobrenosotros div a{
    display: block;
    margin: auto;
    background-color: #540b0e;
    border: #540b0e; 
}

.mainSobrenosotros div{
    display: block;
    margin: auto;
    
}

.mainSobrenosotros div img{
    display: block;
    margin: auto;
    height: 20rem;
    width: auto;
    border-radius: 20%;
    box-shadow: -2px 2px 10px #a5a5a5;
}

/* 
.mainSobrenosotros div a{
    display: block;
    margin: auto;
}

.mainSobrenosotros div h2{
    text-align: center;
    margin: 1rem;
}

.mainSobrenosotros div p{
    text-align: center;
    margin: 1rem;
}

.mainSobrenosotros div img{
    display: block;
    margin: auto;
    height: 20rem;
    width: auto;
    border-radius: 20%;
    box-shadow: -2px 2px 10px #a5a5a5;
}
*/


/* Media Queries */

@media screen and (min-width: 768px) {
    
    .navCel{
        display: none;
    }

    .menuNav{
        display: contents;
    }

    .menuNav ul{
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        text-decoration: none;
    }

    .menuNav ul li{
    padding-right: 2rem;
    padding-top: 1.5rem;
    }

    .menuNav ul li a{
        text-decoration: none;
        font-size: 1.2rem;
        color: #540b0e;
        font-weight: bold;
    }

}

@media screen and (min-width: 1024px) {

    header{
        width: 100%;
    }

    .menuNav{
        padding: -4%;
        margin: -4%;
    }

    .menuNav ul{
        justify-content: right;
    }

    .menuNav ul li{
        padding-right: 5%;
        padding-top: 0%;
        }

    .logo{
        height: 12vh;
        width: auto;
        margin-left: 3%;
        padding-top: 0.5vh;
        padding-bottom: 0%;
    }

    main{
        height: 74vh;
    }
    
    .mainIndex{
        display: grid;
        grid-template-areas: "primerImagen parrUno"
                             "segundaImagen parrDos";
    }

    .parrUno{
        grid-area: parrUno;
        text-align: justify;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
    }

    .parrDos{
        grid-area: parrDos;
        text-align: justify;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
    }

    .extraText{
        display: contents;
        text-align: justify;  
    }

    .primerImagen{
        grid-area: primerImagen;
        height: 34vh;
        width: auto;
        margin-left: 6%;

    }
    .segundaImagen{
        grid-area: segundaImagen;
        height: 34vh;
        width: auto;
        margin-left: 6%;

    }

    footer{
        height: 8vh;
        border-top: solid 0.1rem #3d3b3c;
    }

    /* CONTACTO */

    .mainContacto{
        background-image: url('../img/DSC_0621.JPG');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .ubicYcontacto{
        border: solid #3d3b3c;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.7);
        display: grid;
        grid-template-areas: "contactForm mapa";
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;
    }
    
    .contactForm{
        border: none;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        width: 27rem;
  
    }
    
    .contactanos{
        grid-area: contactanos;
        font-size: 1.5rem;
        padding: 1rem;
        width: 27rem;
        text-align: left;
        color: #540b0e;
        opacity: 100%;
    }
    
    .mail{
        grid-area: mail;
    }
    
    .numero{
        grid-area: numero;
    }
    
    .texto{
        grid-area: texto;
    }
    
    .mainContacto input{
        border: 0.1rem solid #3d3b3c;
        height: 1.6rem;
        width: 25rem;
        padding: 0.6rem;
        margin: 0.6rem;
    }
    
    .mainContacto .texto input {
        height: 4.5rem;
        margin-top: 0%;
        margin-top: 0.3rem;
    }
    
    .mapa{
        grid-area: mapa;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        box-shadow: -2px 2px 10px #a5a5a5;
    }

    .mainSobrenosotros{
        display: grid;
        grid-template-areas: "agricultura ganaderia junco corral";
    }

    .agricultura card mt-3{
        grid-area: agriculutra;
    }

    .ganaderia card mt-3{
        grid-area: ganaderia;
    }

    .junco card mt-3{
        grid-area: junco;
    }
    
    .corral card mt-3{
        grid-area: corral;
    }

    .mainSobrenosotros div img{
        height: 12rem;
        width: auto;
        margin-top: 2rem;
    }

    .mainSobrenosotros div{
        margin-top: 1.5rem;   
    }

}