/* RESET */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

header{
    background: radial-gradient(#f2e8cf, #ddbea9);
    width: 100%;
    border-bottom: solid 0.1rem #3d3b3c;
}


.logo{
    height: 7rem;
    width: auto;
    display: block;
    margin: auto;
    padding: 0.5rem;
}

.navCel ul li{
    background: radial-gradient(#f2e8cf, #ddbea9);
    opacity: 90%;
    padding: 1rem;
}

.menuNav{
    display: none;
}

.mainIndex{
    display: grid;
    grid-template-areas: "parrUno"
                         "primerImagen"
                         "parrDos"
                         "segundaImagen";
}

.parrUno{
    grid-area: parrUno;
    text-align: center;
    margin: 1rem;
}

.primerImagen{
    grid-area: primerImagen;
    height: auto;
    width: 80%;
    display: block;
    margin: auto;
    box-shadow: -2px 2px 10px #a5a5a5;
}

.parrDos{
    grid-area: parrDos;
    text-align: center;
    margin: 1rem;
}

.segundaImagen{
    grid-area: segundaImagen;
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
    box-shadow: -2px 2px 10px #a5a5a5;
}

.extraText{
    display: none;
}

footer{
    background: radial-gradient(#f2e8cf, #ddbea9);
    height: 3rem;
    margin-top: 0.5rem;
    font-size: 0.7rem;
}

.derechos{
    text-align: center;
    font-size: 0.9em;
}

.mainGaleria{
    height: 71vh;
}
.container {
    width: 80%;
    height: 100%;
    margin: auto;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 0.9rem;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0.9rem 2rem rgba(0.4, 0.4, 0.4, 0.4);
}
  
.lightbox-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
  
.lightbox-gallery div > img {
    width: 22rem;
    display: block;
}

.pieGaleria{
    position: relative;
}
  
.lightbox-gallery div {
    margin: 0.6rem;
    flex-basis: 9rem;
}
  
  @media only screen and (max-width: 400px) {
    .lightbox-gallery {
      flex-direction: column;
      align-items: center;
      flex-wrap: wrap;
    }

    .lightbox-gallery div > img {
        width: 90%;
        margin: auto;
    }

    .container {
        width: 90%;
        height: 100%;
        margin: auto;
        margin-top: 1rem;
        padding: 0.5rem;
    }

    .mainGaleria{
        height: 100%;
    }

  }
  
  /*Lighbox CSS*/
  
  .lightbox {
    display: none;
    width: 85%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    padding-top: 25px;
    box-sizing: border-box;
  }
  
  .lightbox img {
    display: block;
    margin: auto;
  }

/* SOCIAL MEDIA */

.social{
    margin-top: 1rem;
}

.social-btn {
    display: flex;
    width: 11rem;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
    padding-right: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border: 0.2rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    margin-bottom: 5px;
    position: relative;
    left: -8rem;
    transition: left 1s;
  }
  .social-btn:hover {
    left: -1.5rem;
    transition: left 1s;
  }
  
  .social {
    position: fixed;
    top: 12rem;
  }
  .social a {
    text-decoration: none;
  }

  .color-instagram {
    background: radial-gradient(#C13584, #E1306C);  
  }
  .color-whatsapp {
    background-color: #1DA1F2;
  }
  
  .social-btn img {
    width: 2.5rem;
  }
  
  .social-btn p {
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .icons8-instagram {
    order: 2;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background: url("../img/insta.png")
      50% 50% no-repeat;
    background-size: 100%;
  }
  
  .icons8-whatsapp {
    order: 2;
    display: inline-block;
    width: 1.8rem;
    height: 1.8rem;
    background: url("../img/twiit.png")
      50% 50% no-repeat;
    background-size: 100%;
  }
  

/* CONTACTO */

.mainContacto{
    background-image: url('../img/DSC_0621.JPG');
    background-repeat: repeat-y;
    background-size: 100%;
    display: grid;
    grid-template-areas: "contactForm"
                         "mapa";
    align-items: center;
}

.contactForm{
    grid-area: contactForm;
    display: block;
    margin: auto;
    width: 90%;
    margin-top: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: -2px 2px 10px #a5a5a5;
    border: solid #3d3b3c;
}

.contactanos{
    display: block;
    font-size: 1.5rem;
    padding: 0.8rem;
    text-align: center;
    color: #540b0e;
    opacity: 100%;
}

.mainContacto input{
    border: 0.1rem solid #3d3b3c;
    height: 1.8rem;
    width: 97%;
    padding: 0.4rem;
    margin: 0.4rem;
}

.mainContacto .texto input {
    height: 5rem;
    margin-top: 0.3rem;
}

.mapa{
    grid-area: mapa;
    width: 95%;
    display: block;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    box-shadow: -2px 2px 10px #a5a5a5;
}

.footerContacto{
    margin: 0%;
}


/* SOBRE NOSOTROS */

.mainSobrenosotros div a {
    display: block;
    margin: auto;
    background-color: #540b0e;
    border: #540b0e; 
}

.mainSobrenosotros div{
    display: block;
    margin: auto;
}

.mainSobrenosotros div div p{
    text-align: center;
}

.mainSobrenosotros div img{
    display: block;
    margin: auto;
    height: auto;
    width: 90%;
    border-radius: 20%;
    box-shadow: -2px 2px 10px #a5a5a5;
}

/* 
.mainSobrenosotros div a{
    display: block;
    margin: auto;
}

.mainSobrenosotros div h2{
    text-align: center;
    margin: 1rem;
}

.mainSobrenosotros div p{
    text-align: center;
    margin: 1rem;
}

.mainSobrenosotros div img{
    display: block;
    margin: auto;
    height: 20rem;
    width: auto;
    border-radius: 20%;
    box-shadow: -2px 2px 10px #a5a5a5;
}
*/


/* Media Queries */

@media screen and (min-width: 768px) {
    
    .navCel{
        display: none;
    }

    .menuNav{
        display: contents;
    }

    .menuNav ul{
        list-style: none;
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
        text-decoration: none;
    }

    .menuNav ul li{
    padding-right: 2rem;
    padding-top: 1.5rem;
    }

    .menuNav ul li a{
        text-decoration: none;
        font-size: 1.2rem;
        color: #540b0e;
        font-weight: bold;
    }

}

@media screen and (min-width: 1024px) {

    header{
        width: 100%;
    }

    .menuNav{
        padding: -4%;
        margin: -4%;
    }

    .menuNav ul{
        justify-content: right;
    }

    .menuNav ul li{
        padding-right: 5%;
        padding-top: 0%;
        }

    .logo{
        height: 12vh;
        width: auto;
        margin-left: 3%;
        padding-top: 0.5vh;
        padding-bottom: 0%;
    }

    main{
        height: 74vh;
    }
    
    .mainIndex{
        display: grid;
        grid-template-areas: "primerImagen parrUno"
                             "segundaImagen parrDos";
    }

    .parrUno{
        grid-area: parrUno;
        text-align: justify;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
    }

    .parrDos{
        grid-area: parrDos;
        text-align: justify;
        padding-left: 4%;
        padding-right: 4%;
        padding-top: 2%;
    }

    .extraText{
        display: contents;
        text-align: justify;  
    }

    .primerImagen{
        grid-area: primerImagen;
        height: 34vh;
        width: auto;
        margin-left: 6%;

    }
    .segundaImagen{
        grid-area: segundaImagen;
        height: 34vh;
        width: auto;
        margin-left: 6%;

    }

    footer{
        height: 8vh;
        border-top: solid 0.1rem #3d3b3c;
    }

    /* CONTACTO */

    .mainContacto{
        background-image: url('../img/DSC_0621.JPG');
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .ubicYcontacto{
        border: solid #3d3b3c;
        margin: auto;
        padding: 0.5rem;
        background-color: rgba(255, 255, 255, 0.7);
        box-shadow: -2px 2px 10px #a5a5a5;
        display: flex;
        width: 85%;
    }
    
    .contactForm{
        border: none;
        margin: 2.5rem;
        width: 95%;
    }
    
    .contactanos{
        font-size: 1.5rem;
        padding: 1rem;
        text-align: center;
        color: #540b0e;
        opacity: 100%;
    }
    
    .mainContacto input{
        border: 0.1rem solid #3d3b3c;
        display: block;
        height: 2rem;
        width: 96%;
        padding: 0.6rem;
        margin: 0.6rem;
    }
    
    .mainContacto .texto input {
        height: 9rem;
        margin-top: 0%;
        margin-top: 0.3rem;
    }
    
    .mapa{
        grid-area: mapa;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        box-shadow: -2px 2px 10px #a5a5a5;
        width: 95%;
    }

    /* SOBRE NOSOTROS */

    .mainSobrenosotros{
        display: grid;
        grid-template-areas: "agricultura ganaderia junco corral";
    }

    .agricultura card mt-3{
        grid-area: agriculutra;
    }

    .ganaderia card mt-3{
        grid-area: ganaderia;
    }

    .junco card mt-3{
        grid-area: junco;
    }
    
    .corral card mt-3{
        grid-area: corral;
    }

    .mainSobrenosotros div img{
        height: 11rem;
        width: auto;
        margin-top: 1rem;
    }

    .mainSobrenosotros div{
        margin-top: 1.5rem;   
    }

}